spring-pcf-enterprise/spring-pcf-enterprise-start/src/main/app/csv-to-mongodb.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    
    <mongo:config database="${database.name}" doc:name="Mongo DB" name="Mongo_DB" password="${database.password}" username="${database.user}">
        <mongo:connection-pooling-profile exhaustedAction="WHEN_EXHAUSTED_GROW" initialisationPolicy="INITIALISE_ONE"/>
    </mongo:config>
    <db:mysql-config name="MySQL_RouteDB" url="jdbc:mysql://us-cdbr-iron-east-04.cleardb.net/ad_331735929a1e935?user=b21e8730fef54d&amp;password=e028e46f" doc:name="MySQL Configuration"/>

    <flow name="csv-to-mongodbFlow1">
        <file:inbound-endpoint path="src/main/resources/input" responseTimeout="10000" metadata:id="d465231a-3a94-4460-acce-174c73019323" doc:name="Poll files"/>
        <dw:transform-message doc:name="CSV to Map" metadata:id="e1a94970-919a-4529-ac32-165c1b7b7486">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map
{
	departure: $.departure,
	destination: $.destination,
	flight_number: $.flight_number
}]]></dw:set-payload>
        </dw:transform-message>

        <logger doc:name="Log objects to save" level="INFO" message="saving objects: #[payload]"/>
        <collection-splitter doc:name="Collection Splitter"/>
        <db:insert config-ref="MySQL_RouteDB" doc:name="Database">
            <db:parameterized-query><![CDATA[INSERT INTO route (departure, destination, flight_number) VALUES (#[payload.departure],#[payload.destination],#[payload.flight_number]);]]></db:parameterized-query>
        </db:insert>
    </flow>
</mule>